@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}
.brand-logo{
    width:20%;
    height: 20%;
 
}

.brand-logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links li a {
    font-size: 14px;
    color: #12305B;

}

.links li.active{
    font-weight: 900;
}
.hero-section{
    background-image: url('/images/hero-pix.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.hero-txt{
width: 28%;
margin-top: 120px;
margin-left: 75px;
color: #12305B;
}

.hero-txt p{
    font-weight: 900;
    font-size: 13px;
    /* letter-spacing: 1px; */
    margin-bottom: 30px; 
}
.hero-txt h2{
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-txt h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.visit-btn button{
    cursor: pointer;
    padding: 8px 40px;
    color: #fff;
    background-color: #FC5959;
    border-radius: 5px;
    font-size: 11px;
    outline: none;
    border: none;
}

.logos {
position: relative;
display: flex;
width: 85%;
height: 80px;
padding: 0 60px;
justify-content: space-between;
align-items: center;
background-color: #fff;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
top: 180px;
left: 202px;

}
#ggle{
    width: 120px;
    height: 120px;
}
#forbes{
    width: 120px;
    height: 120px;
}
#blm{
    width: 180px;
    height: 180px;
}
#slp{
    width: 180px;
    height: 180px;
}
#infl{
    width: 180px;
    height: 180px;
}
.logos img{
    
    object-fit: contain;
}

#more{
    display: none;
}

.happy-customer{
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.happy-customer-txt{
    width: 37%;
    color: #12305B;
    
}

.happy-customer-txt h2{
    font-size: 10px;
    margin-bottom: 25px;
}

.happy-customer-txt h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.happy-customer-txt p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 30px;
}

.happy-customer-txt button{
    outline: none;
    border: none;
    border-bottom: 1px solid #12305B;
    color: #12305B;
    font-size: 10px;
    font-weight: 600;
    background-color: transparent;
    letter-spacing: 1px;
}

.customer1{
    padding:30px;
    width: 30%;
    height: 250px;
    box-shadow: 0px 35px 45px -18px rgba(0, 0, 0, 0.5);
    background-color: #FBF9F2;
    
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}
.img-name{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
}

.img-name img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    
}
#name{
    text-align: center;
}
#name h3{
    display: inline-block;
    font-size: 14px;
}
#name p{
    font-size: 12px;
}
.comment p{
    font-style: italic;
   font-weight: 300;
    font-size: 13px;
    margin-bottom: 45px;
}
.reviews{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 50px;
}
.review-para{
    width: 23.5%;
    background-color: #FBF9F2;
    padding: 20px;

}
.review-wrapper {
    margin-top: 10px;
}

.wrap{
    margin-top: 25px;
}
.wrap h3{
    font-size: 11px;
}
.review-para p{
    font-style: italic;
    font-size: 12px;
}
.review-wrapper h3{
    /* margin-top: 20px; */
    font-size: 11px;
}
.ratings i{
    padding: 1px;
    font-size: 9px;
    color: #27AE60;
    
}
hr{
    width: 68%;
    margin: auto;
    border : 1px solid #21384218;

}
.img-product{
    width: 75%;

}
.img-card{
    position: relative;
}
.img-product img{
    width: 100%;
    height: auto;
}
.img-card-para{
    position: absolute;
    border-radius: 8px;
    padding: 20px 50px 20px 20px ;
    background: #fff;
    box-shadow: 0px 35px 45px -18px rgba(0, 0, 0, 0.5);
    bottom: 55px;
    left: 225px;
}
.img-card-para p{
    font-size: 11px;
    font-style: italic;
}
.emoji {
    display: flex;
}
.emoji span{
    font-size: 10px;
    margin-right: 5px;
}
.shop-now{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.shop {
    /* width: 100%; */
    color: #12305B;
   margin-right: 75px;
    /* padding-right: 50px; */
}

.shop h3{
    
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
}

.shop p{
    font-size: 12px;
    margin-bottom: 25px;
}
.mission{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}
.mission-txt{
    width: 25%;
    margin: auto;
    color: #12305B;
    line-height: 1.5;
}
.mission-txt h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
}
.mission-txt p{
    font-size: 11px;

}
.mission-img{
    width: 40%;
}
.visit-shop {
    width: 65%;
    margin: auto;
    color: #12305B;
    text-align: center; 
    padding-bottom: 50px;

}

.visit-shop h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
    
}

.visit-shop p{
    font-size: 12px;
    margin-bottom: 25px;
 
}

.product-review{
    width: 85%;
    margin: auto;
    padding: 30px 0 100px 0;
    
}
.product-review h2{
    /* text-align: center; */
    font-size: 30px;
    margin: 40px 0;
    color: #12305B;
}
.review-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-card{
    width: 23%;
    height: 370px;
    padding: 25px;
    box-shadow: 0px 35px 45px -18px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.review-card img{
    width: 100%;
}
.review-card p{
    font-style: italic;
    font-size: 11px;
}

.review-name h3{
    margin-top: 25px;
    font-size: 11px;
}

footer{
    width: 100%;
    /* height: 50vh; */
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(18, 48, 91, 1),rgba(18, 48, 91, 0.965)), url('/images/footer-img.png');
    background-size: cover;
    padding: 15px 0;
}

.footer-logo {
width: 6%;
margin: auto;

}

.footer-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #fff;
    padding-top: 30px;
}
.sub-content h3{
    font-size: 13px;
    /* letter-spacing: 1px; */
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.sub-content p{
    font-size: 12px;
    line-height: 2;
    padding: 2px;
    font-weight: 400;

}
.sub-content h2{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;

}
.sub-content li{
    font-size: 11px;
    padding: 2px;
    font-weight: 200;
}
.sub-content li a{
   color: #fff;
}
.sub-content1{
    width: 25%;
}
.sub-content1 h3{
    font-size: 13px;
    /* letter-spacing: 1px; */
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.sub-content1 p{
    font-size: 11px;
    font-weight: 200;
}

.sub-content1 p a{
    color: #8fe2ff;
}

.vertical-rule{
    border-right: 1px solid rgba(93, 101, 68, 1);
    height: 150px
}

.media-icons i{
    margin: 5px;
    color: #12305B;
    background-color: #8fe2ff;
    padding: 5px;
    font-size: 9px;
    vertical-align: middle;
    border-radius: 50%;
}
#right-reserved{
    margin-top: 32px;
    font-size: 10px;
    font-weight: 200;
    color: #ababab;
}

